body {    
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding:1rem 0 0 0;
    text-align: center;
}

h3 {
    margin-left: 2rem;
}

.container {
    background-image: url(img/pets01.png);
    background-position: center center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    /* background-image: url(img/pets01.png);
    background-position: center center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.35);
    border:1px solid #ccc;
    border-radius:10px;
    width: 80%;
}

.form__datos {
    display: flex;
    flex-direction: column;    
    align-content: center;
    flex-wrap: wrap;
}

.form__datos label {
    display: inline-block;
    padding: 10px 15px;
    width: 18%;
}

.form__datos textarea {
    width: 90%;
}

.form__datos input {
    border: none;
    width: 90%;
    text-align: center;
}

.form__datos input:focus {
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.radio__container, .check__container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.radio__container label, .check__container label{
    display: inline-block;
    padding: 10px 15px;
    width: 25%;
}

.radio__container input[type="radio"] + label:before {
	content: "";
	width: 26px;
	height: 26px;	
	float: left;
	/* margin: 0.5em 0.5em 0 0; */
	border: 2px solid #ccc;
	border-radius: 100%;
	background: #fff;
}

.radio__container input[type="radio"]:checked + label:before {
	border-color: #0fbf12;
}

.radio__container input[type="radio"]:checked + label:after {
    position: absolute;
	content: "";
    width: 0;
    height: 0;
    border: 8px solid #0fbf12;
    float: left;
    margin-left: 7px;
    margin-top: -41px;
    border-radius: 100%;
}

.radio__container input[type="radio"] {
	display: none;
}

.radio__container input[type="radio"] + label {
	font-weight: bold;
	/* line-height: 3em; */
	color: #ccc;
	cursor: pointer;
}
.radio__container input[type="radio"]:checked + label {
	color: #0fbf12;
}


.check__container input[type="checkbox"] + label:before {    
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
}
.check__container input[type="checkbox"]:checked + label:before {
	border-color: #0fbf12;
}

.check__container input[type="checkbox"]:checked + label:after {
    position: absolute;
	content: "";
	width: 12px;
	height: 6px;
	border: 4px solid #0fbf12;
	float: left;
	margin-left: 6px;
	border-right: 0;
	border-top: 0;
	margin-top: -69px;
	transform: rotate(-55deg);
}

.check__container input[type="checkbox"] {
	display: none;
}

.check__container input[type="checkbox"] + label {
	font-weight: bold;
	line-height: 3em;
	color: #ccc;
	cursor: pointer;
}
.check__container input[type="checkbox"]:checked + label {
	color: #0fbf12;
}


.form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .buttons button {
    margin:auto;
    width: 80%;
}

/* R E S P O N S I V E */

@media only screen and (min-width: 500px) {
    .form__datos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form__datos input{    
        width: 70%;
        text-align: center;
    }

    .form__datos textarea{
        width: 70%;
        text-align: center;
    }

    .form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }

    .form .buttons button {
        width: 40%;
    }
}

@media only screen and (min-width: 800px) {
    .form {
        width: 60%;
    }
}