body {    
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding:1rem 0 0 0;
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
}
form {
    background-color:rgba(61, 75, 77, 0.178);
    border:1px solid #ccc;
    border-radius:10px;
    width: 50%;
}

form label {
    display: inline-block;
    padding: 10px 15px;
    width: 18%;
}

form textarea {
    margin-left:18%;
    width: 72%;
}

form input {    
    width: 72%;
    text-align: center;
}

form .container .radio label {
    display: inline-block;
    /* padding: 10px 0;
    width: 18%; */
}

form .container .radio input {    
    display: inline;
    width: 25%;
}

/* form input[type="radio"] {
    
    margin-left: 75px;
    width:15%;
}

form input[type="radio"] + label {
    width: 10%;
} */

.container {
	display: flex;
	/* justify-content: space-evenly; */
	justify-content: center;
}

.container .radio {
	width: 40%;
}

/* .radio input[type="radio"] {
    
	display: none;
} */

.radio input[type="radio"] + label {
	/* font-weight: bold; */
	line-height: 19px;
	/* color: #ccc; */
	cursor: pointer;
    padding: 0;
}

.radio input[type="radio"]:checked + label {
	/* color: blue; */
    font-weight: bold;
    color: black;
}

.container .check {
    width: 40%;
}

.check input[type="checkbox"] {
	display: inline;
    width: 25%;
}

.check input[type="checkbox"] + label {
	/* font-weight: bold; */
	line-height: 3em;
	/* color: #ccc; */
	cursor: pointer;
    padding: 0;
}
.check input[type="checkbox"]:checked + label {
    font-weight: bold;
	color: black;
}


/* input[type="checkbox"] + label:before {
	content: "";
    display: block;
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
}
input[type="checkbox"]:checked + label:before {
	border-color: #0fbf12;
}


form input[type="checkbox"] {
    display: none;
    margin-left: 75px;
    width:15%;
}

form input[type="checkbox"] + label {
    width: 10%;
    color:red;
}

form input[type="checkbox"]:checked + label {
    color:blue;
} */

form .buttons {
    display: flex;
    justify-content: center;
}

form .buttons button {
    margin:15px;
    width: 60px;
}