body {    
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding:1rem 0 0 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color:rgba(61, 75, 77, 0.178);
    border:1px solid #ccc;
    border-radius:10px;
    width: 80%;
}

.form__datos {
    display: flex;
    flex-direction: column;    
    align-content: center;
    flex-wrap: wrap;
}

.form__datos label {
    display: inline-block;
    padding: 10px 15px;
    width: 18%;
}

.form__datos textarea {
    /* margin-left:18%; */
    width: 90%;
}

.form__datos input {    
    width: 90%;
    text-align: center;
}

.radio__container, .check__container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.radio__container label{
    display: inline-block;
    padding: 10px 15px;
    width: 18%;
}

.check__container label {
    display: inline-block;
    padding: 10px 15px;
    width: 18%;
}

.form .radio label {
    display: inline-block;
}

.form .radio input {    
    display: inline;
    width: 25%;
}

.radio {
	width: 40%;
}

.radio input[type="radio"] + label {
	/* font-weight: bold; */
	line-height: 19px;
	/* color: #ccc; */
	cursor: pointer;
    padding: 0;
}

.radio input[type="radio"]:checked + label {
	/* color: blue; */
    font-weight: bold;
    color: black;
}

.check {
    width: 40%;
}

.check input[type="checkbox"] {
	display: inline;
    width: 25%;
}

.check input[type="checkbox"] + label {
	/* font-weight: bold; */
	line-height: 3em;
	/* color: #ccc; */
	cursor: pointer;
    padding: 0;
}

.check input[type="checkbox"]:checked + label {
    font-weight: bold;
	color: black;
}

form input[type="checkbox"] {
    display: none;
    width:15%;
}

form input[type="checkbox"] + label {
    width: 10%;
    color:red;
}

form input[type="checkbox"]:checked + label {
    color:blue;
}

.form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .buttons button {
    margin:auto;
    width: 80%;
}

/* R E S P O N S I V E */

@media only screen and (min-width: 500px) {
    .form__datos {
        display: flex;
        flex-direction: row;
    }

    .form__datos input{    
        width: 70%;
        text-align: center;
    }

    .form__datos textarea{
        width: 70%;
        text-align: center;
    }

    /* .radio__container > input{
        text-align: center;
    } */

    .form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
}